/* grid */

.sidebar{
	float: left;
	width: 32%;
	height: 100%;
	padding-left: 50px;
	padding-top: 50px;
	}
	
.content{
	float: right;
	width: 60%;
	height: 100%;
	padding: .5em 1em .5em 1em;	
}

.post{
	border-radius: 10px;
	margin-top: 130px;
	margin-bottom: 100px;
	margin-right: 50px;
	background-color: #595757;
	height: 600px;
	overflow: auto;
	font-size: 22px;
}

.post a{
	font-size: inherit;
	color: white;
}

.post li{
	font-size: inherit;
	color: white;
	font-family: 'Josefin Slab';
}

.post p{
	color: white;
	font-size: inherit;
	font-family: 'Josefin Slab';
}

/* text, links, etc. */
ul li{

}

h1{
color: white;
font-size: 50px;
font-variant: small-caps;
font-family: Droid;
}

h2{
color: white;
font-size: 40px;
font-variant: small-caps;
font-family: 'Josefin Slab';
}

h3{
color: white;
font-size: 30px;
font-variant: small-caps;
font-family: 'Josefin Slab';
}

h0{
	font-family: 'Josefin Slab';
	font-size: 50px;
	margin-left: 45%;
}

.title{
	font-family: Helvetica;
	font-size: 60px;
	color: black;
	line-height: 1em;
	font-weight: bold;
}

.subtitle{
	font-family: Helvetica;
	font-size: 40px;
	color: gray;
	text-indent: 50px;
	line-height: 2em;
	font-weight: bold;
	margin-bottom: 50px;
}


li{
	font-family: Helvetica, sans-serif;
	font-size: 40px;
	color: black;
	line-height: 2em;
}

li a:hover{
	border-bottom: 3px solid black;
}

a{
	color: black;
	text-decoration: none;
}

a:visited{
	color: black;
	text-decoration: none;
}

.current{
	color: black;
	font-weight: bold;
}

a:hover{
	color: black;
	font-weight: bold;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;	
}

a[href^="mailto:"]{
	color: black;
}

/* Grid for course content area */

* {
  @include box-sizing(border-box);
  box-sizing: border-box;
}

#grid {
	width:100%;
	padding: 100px 0 0 100px;
	float: right;
}


#grid a:hover {
	box-shadow: 5px 6px 28px black;
	-webkit-box-shadow: 5px 6px 28px black;
	-ms-box-shadow: 5px 6px 28px black;
	-o-box-shadow: 5px 6px 28px black;
	-moz-box-shadow: 5px 6px 28px black;
}

.label {
	width:100%;
	height:30px;
	color:white;
	font-family: Trebuchet MS, sans-serif;
	font-size: medium;
	text-align: center;
	-webkit-text-align:center;
}

.label p {
	border-radius: 0px;
	font-size: 1em;
	background-color:rgba(0,0,0,0.45);
	color: white;
	font-family: lato;
	font-variant: small-caps;
	margin-top: 110px;
}

.tile {
	position:relative;
	float:left;
	margin:10px;
	margin-right: 30px;
	margin-bottom:25px;
	width:225px;
	height: 150px;
	border-radius: 5px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 0px black;
	-webkit-box-shadow: 0px 0px 0px black;
	-ms-box-shadow: 0px 0px 0px black;
	-o-box-shadow: 0px 0px 0px black;
	-moz-box-shadow: 0px 0px 0px black;
}

.badge{
	position:relative;
	float:left;
	margin:10px;
	margin-right: 30px;
	margin-bottom:25px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 0px black;
	-webkit-box-shadow: 0px 0px 0px black;
	-ms-box-shadow: 0px 0px 0px black;
	-o-box-shadow: 0px 0px 0px black;
	-moz-box-shadow: 0px 0px 0px black;
}

.label h1 {
	border-radius: 0px;
	font-size: 1em;
	background-color:red;
	color: gold;
	font-family: lato;
	font-variant: small-caps;
	margin-top: 150px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Corben';
}

.DRM{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.books{
	background-image:url(../assets/images/books.jpg);
}

.bluebook{
	background-image:url(../assets/images/bluebook.jpg);
}

.canterbury{
	background-image:url(../assets/images/canterbury.jpg);
}

.hamlet{
	background-image:url(../assets/images/hamlet.jpg);
}

.clueless{
	background-image:url(../assets/images/clueless.jpg);
}

.focus{
	background-image:url(../assets/images/focus.jpg);
}

.feather{
	background-image:url(../assets/images/feather.jpg);
}

.typecase{
	background-image:url(../assets/images/typecase.jpg);
}

.TBA{
	background-image:url(../assets/images/TBA.jpg);
}

.chart{
	background-image:url(../assets/images/chart.png);
}

/* LEARNING ACHIEVEMENTS */

.revision{
	background-image:url(../assets/images/revision.jpg);
}

.structure{
	background-image:url(../assets/images/structure.jpg);
}

.clearthesis{
	background-image:url(../assets/images/clearthesis.jpg);
}

.formatting{
	background-image:url(../assets/images/formatting.png);
}

.focused{
	background-image:url(../assets/images/focused.jpeg);
}

.evidence{
	background-image:url(../assets/images/evidence.jpg);
}

.context{
	background-image:url(../assets/images/context.jpg);
}

.analysis{
	background-image:url(../assets/images/analysis.jpg);
}

.strongthesis{
	background-image:url(../assets/images/strongthesis.jpeg);
}

.concise{
	background-image:url(../assets/images/concise.jpg);
}

.critical{
	background-image:url(../assets/images/criticalthinking.png);
}

.mallet{
	background-image:url(../assets/images/D3viz.png);
}
