---
layout: digital
---

<div class="sidebar">
<p class="title">English 147</p>
<p class="subtitle">Alex Christie</p>
<li class=""><a href="{{ site.baseurl }}/index.html">Course Content</a></li>
<li class="current"><a href="{{ site.baseurl }}/digital/">Course Activities</a></li>
<li class="animated flipInX" style="-webkit-animation-delay: .2s;"><a href="{{ site.baseurl }}/resources/">Student Resources</a></li>
<li class="animated flipInX" style="-webkit-animation-delay: .4s;"><a href="{{ site.baseurl }}/contact/contact.html">Office Hours</a></li>
</ul>
</div>

<div class="content">
<section id="grid" class="animated fadeIn" style="-webkit-animation-delay: .6s;">
    {% for post in site.posts %}
    	   {% if post.categories contains 'activity' %}
			<a class="tile {{ post.picture }}" href="{{ site.baseurl }}/{{ post.url }}"><div class="label"><p>{{ post.title }}</p></div></a>
			{% endif %}
    {% endfor %}
</section>
</div>